.DS_Store
*.pyc
*.pyo
__pycache__/
*.egg-info
*.swp
tags
ury/docs/current
node_modules/
package-lock.json

ury/public/pos
ury/www/pos.html
ury/public/URYMosaic
ury/public/node_modules
ury/www/URYMosaic.html
build

*.lock
